/*HEADER NAVIGATION*/

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 24px var(--main-content-padding);
    border: 1px solid var(--border-color);
    position: sticky;
    top:0;
    z-index: 999;
}

.main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}
    .nav-links >:not(:last-child) {
         margin-right: 58px;
     }

.nav__link {
    color: var(--text-color);
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-weight: 600;
    letter-spacing: 1px;
}
    .nav__link:hover {
        color: var(--secondary-color);
    }

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.burger__line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: var(--text-color);
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
    opacity: 0;
}
.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
    transform: translateX(0%);
}
.overflow-hide {
    overflow: hidden;
}
.pos-fix {
    position: fixed;
}


@media screen and (max-width: 800px) {
    .app-header {
        padding: 8px var(--main-content-padding);
    }
    .nav-links {
        width: 80%;
        justify-content: space-between;
    }

        .nav-links >:not(:last-child) {
            margin-right: 0;
        }
}

@media screen and (max-width: 800px) {
    .burger {
        display: block;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 92vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: var(--primary-color);
        transform: translateX(100%);
        transition: transform 0.5s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
}
