:root {
    --main-content-padding: 8em;
    --1024-item-marging: 48px;
    --768-item-marging: 28px;
    --primary-color: #ffffff;
    --secondary-color: #00A4E5;
    --text-color: #48555B;
    --border-color: #E6E6E6;

    --primary-font-family: 'Bebas Neue';
    --fallback-primary-font-family: sans-serif;
    --secondary-font-family: 'Open Sans';
    --fallback-secondary-font-family: cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    border: solid 1px #171819;
    font-family: var(--secondary-font-family), var(--fallback-secondary-font-family);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    margin: 0;
}

header, section {
    background-color: var(--primary-color);
}

.btn {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    min-width: 150px;
    height: 46px;
}

    .btn:hover {
        transform: scale(1.1, 1.1);
    }


.section__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}

.presentation {
    background-image: url("../images/bg-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    padding: 42px var(--main-content-padding);
    color: var(--primary-color);
}

.min-wrap {
    padding: 12px;
}

    .title >:not(:last-child) {
        margin-bottom: 12px;
    }

.title-name {
    font-size: 60px;
    font-family: var(--primary-font-family), var(--fallback-secondary-font-family);
    letter-spacing: 5px;
}

.scroll-link {
    color: var(--primary-color);
    letter-spacing: 4px;
}


/*OUR STORY*/
.our-story {
    padding: 56px var(--main-content-padding);
    position: relative;
}

    .our-story > :not(.our-story__content) {
        margin-bottom: 62px;
    }

.our-story__title {
    position: relative;
    padding-bottom: 16px;
    text-align: center;
}

    .our-story__title::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background-color: var(--secondary-color);
        height: 2px;
        width: 2.5em;
    }

.our-story__content {
    display: flex;
    justify-content: space-between;
}

.our-story__col__text {
    text-align: left;
    word-break: break-word;
}

.our-story__images {
    padding: 8px 0 0 0;
}

.our-story__col:first-child {
    max-width: 400px;
    padding: 4px;
}

    .our-story__col:first-child >:not(:last-child) {
        margin-bottom: 30px;
    }

.our-story__col__title {
    font-weight: 700;
}

.our-story__col__key-word {
    color: var(--secondary-color);
}


/*OUR CAPABILITIES*/
.our-capabilities {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 56px var(--main-content-padding);
}
.our-capabilities > :not(:last-child) {
    margin-right: 26px;
}

.our-capabilities__title {
    color: var(--text-color);
    padding: 0 16px 16px 0;
    position: relative;
}

.our-capabilities__title::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 2.5em;
    background-color: var(--secondary-color);
}

/*CASES*/
.cases {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fill,322px);*/
    /*grid-template-rows: 1fr;*/
    /*grid-gap: 22px;*/
    padding: 32px var(--main-content-padding);
}

.case {
    border: 1px solid var(--border-color);
    max-width: 306px;
    padding: 15px;
    margin-bottom: 26px;
    overflow-wrap: break-word;
}
.case >:not(:last-child) {
    margin-bottom: 25px;
}

/*GET IN TOUCH*/

.get-in-touch {
    background-image: url("../images/bg-get-in-touch.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px var(--main-content-padding);
    text-align: center;
}

.get-in-touch >:not(:last-child) {
    margin-bottom: 36px;
}

.get-in-touch__title {
    padding: 8px;
    word-break: break-word;
}

/*SIGN UP*/
.sign-up {
    display: flex;
    justify-content: center;
    padding: 35px var(--main-content-padding);
    background-color: #171819;
    height: 110px;
}

.sign-up__title {
    display: flex;
    align-items: center;
    margin-right: 110px;
    text-transform: capitalize;
    color: var(--primary-color);
}
.sign-up__input {
    height: 100%;
    min-width: 362px;
    outline: none;
    padding: 8px 16px;
}

.signup-conatiner {
    display: flex;
}

.sign-up__submit {
    height: 100%;
}

/*FOOTER*/
footer {
    padding: 45px var(--main-content-padding);
    background-color: #141A20;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.footer__block >:not(:last-child) {
    margin-bottom: 24px;
}

.footer__block__title {
    color: var(--primary-color);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.company__block__text {
    max-width: 286px;
    overflow-wrap: break-word;
}

.links__container {
    display: flex;
    justify-content: space-between;
}

.links__container >:not(:last-child) {
    margin-right: 26px;
}

.links >:not(:last-child) {
    margin-bottom: 12px;
}

.contact-us__container {
    display: flex;
}

.contact-us__container >:not(:last-child) {
    margin-right: 26px;
}

.address__block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 286px;
    overflow-wrap: break-word;
}

.social-links__block {
    display: flex;
}

.social-links__block >:not(:last-child) {
    margin-right: 26px;
}

/*COPYRIGHTING*/
.copyrighting {
    background-color: #171819;
    padding: 16px var(--main-content-padding);
}

.copyrighting__text {
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
}

@media (max-width: 1024px) {
    :root {
        --main-content-padding: 6em;
    }

    /*OUR STORY*/

    .our-story__content {
        flex-direction: column;
    }

    .our-story__content >:not(:last-child),
    .our-story > :not(.our-story__content) {
        margin-bottom: var(--1024-item-marging);
    }

    .our-story__col:first-child{
        max-width: max-content;
    }

    .our-story__images {
        display: flex;
        justify-content: space-between;
    }

    /*OUR CAPATABILITIES*/
    .our-capabilities {
        padding: 46px var(--main-content-padding);
    }

    /*GET IN TOUCH*/
    .get-in-touch {
        padding: 120px var(--main-content-padding);
    }

    /*SIGN UP*/
    .sign-up {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .sign-up__input {
        /*min-width: 346px;*/
    }
    .sign-up__title {
        margin: 0 0 16px;
    }

    .app-footer {
        flex-wrap: wrap;
    }
    .footer__block:not(:last-child) {
        margin-bottom: 32px;
    }
}



@media (max-width: 768px) {
    :root {
        --main-content-padding: 4em;
    }

    /*OUR STORY*/
    .our-story__content >:not(:last-child),
    .our-story > :not(.our-story__content) {
        margin-bottom: var(--768-item-marging);
    }

    .our-story__images {
        display: flex;
        justify-content: space-between;
    }


    /*OUR CAPABILITIES*/
    .our-capabilities {
        padding: 26px var(--main-content-padding);
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .our-capabilities :not(:last-child) {
        margin-bottom: 16px;
    }

    .our-capabilities__title::after {
        left: 50%;
        transform: translateX(-50%);
    }


    /*CASES*/
    .cases {
        flex-direction: column;
        align-items: center;
    }

    /*GET IN TOUCH*/
    .get-in-touch {
        padding: 72px var(--main-content-padding);
    }

    .sign-up {
        height: max-content;
    }

    .signup__form {
        flex-direction: column;
        text-align: center;
    }

    .signup__form >:not(:last-child) {
        margin-bottom: 26px;
    }

    .sign-up__submit {
        padding: 14px;
    }
}

@media (max-width: 560px) {
    :root {
        --main-content-padding: 2em;
    }

    h1 {
        font-size: 1.8em;
    }

    /*OUR STORY*/

    .our-story__content >:not(:last-child),
    .our-story > :not(.our-story__content) {
        margin-bottom: var(--768-item-marging);
    }

    .our-story__images {
        flex-wrap: wrap;
    }
    .our-story__image {
        margin: 0 12px 12px 0;
    }

   /*CASES*/

    .case >:not(:last-child) {
        margin-bottom: 16px;
    }

    /*SIGN UP*/

    .sign-up {
        height: max-content;
    }

    .signup__form {
        flex-direction: column;
        text-align: center;
    }

    .signup__form >:not(:last-child) {
        margin-bottom: 26px;
    }

    .sign-up__input {
        min-width: 300px;
    }
    .sign-up__submit {
        padding: 14px;
    }

    /*COPYRIGHTING*/
    .copyrighting__text {
        font-size: 12px;
    }
}

@media (max-width: 386px) {
    /*OUR STORY*/
    .our-story__images {
        justify-content: center;
    }

    /*OUR STORY*/
    .our-story__images {
        flex-wrap: wrap;
    }
    .our-story__image {
        margin-bottom: 12px;
    }
    
}
