:root {
    --content-padding: 160px;
    --content-padding-desctop: 60px;
    --title-text-color: #252B42;
    --second-text-color: #c4c0c0;
    --active-color: #2091F9;
    --primary-color: #fff;
    --dark-background-color: #252B42;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    border: solid 1px #fff;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}
h1,h2,h3 {
    margin: 0;
}

.capitalize {
    text-transform: capitalize;
}
.upper {
    text-transform: uppercase;
}

ul {
    padding: 0;
}

.list-reset {
    list-style: none;
}

.btn {
    outline: none;
    width: max-content;
    font-weight: bold;
}
    .btn:hover {
        cursor: pointer;
    }


/*HEADER*/
.wrapper {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.main-header {
    display: flex;
    padding: 26px 76px;
}

.logo-link {
    margin-right: 68px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.nav-item {
    margin-right: 38px;
}
    .nav-item:last-child {
        margin-right: 0;
    }

.nav-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 6px 0;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

    .nav-link:hover::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        display: block;
        height: 2px;
        width: 50%;
        background-color: var(--primary-color);
        transform: translateX(-50%);
    }



.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: flex;
    align-items: center;
}

    .header-link a {
        display: inline-block;
        display: flex;
        align-items: center;
        height: 100%;
    }
        .header-link:not(:last-child) {
            margin-right: 26px;
        }

.link-img:hover {
    transform: scale(1.1) ;
}

.basket {
    position: relative;
}

.counter {
    position: absolute;
    top:0;
    right: 0;
    border-radius: 50%;
    background-color: var(--active-color);
    min-height: 18px;
    min-width: 18px;
    padding: 2px 6px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}


/*FOOTER*/
.root-footer {
    display: flex;
    justify-content: space-between;
    padding: 26px 76px;
    background-color: var(--dark-background-color);
    min-height: 120px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link-item:not(:last-child) {
    margin-right: 16px;
}

.social-link {
    display: inline-block;
}

.nav-footer {
    margin-right: 66px;
}
/*SECTIONS*/

.align-section {
    padding: 84px var(--content-padding);
}

.header-section {
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: var(--title-text-color);
    margin-bottom: 60px;
}

/*MAIN SECTION*/
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 152px var(--content-padding);
    background-color: transparent;
    color: #ffffff;
}
    .main-section .text {
        font-weight: 500;
        letter-spacing: 1.1px;
    }

.main-section > :not(.btn) {
    margin-bottom: 36px;
}

.main-title {
    font-weight: 800;
    font-size: 58px;
}
.main-subtitle {
    font-weight: 700;
    font-size: 24px;
}

.btn-shop {
    padding: 16px 46px;
    border: none;
    background-color: var(--primary-color);
    color:var(--active-color);
    font-size: 18px;
    transition: background-color 1s ease;
}
    .btn-shop:hover {
        background-color: var(--second-text-color);
    }




/*PRODUCTS*/

.products-filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 240px;
}

.btn-filter {
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--second-text-color);
    padding: 0 0 12px;
}

    .btn-filter:hover {
        color: var(--active-color);
    }

        .btn-filter:hover::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: '';
            display: block;
            height: 2px;
            width: 48px;
            background-color: var(--active-color);
            transform: translateX(-50%);
        }

.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 260px));
    grid-template-rows: 1fr;
    grid-gap: 40px;
    text-align: center;
}

.product {
    padding: 0 12px;
}

.product-img {
    position: relative;
    /*z-index: 1;*/
}
    .product-img::after {
        display: inline-block;
        position: absolute;
        content: url("../images/content/products/product-like.svg");
        height: max-content;
        width: max-content;
        top: 0;
        right: 0;
        /*z-index: 4;*/

    }

.product-description {
    display: flex;
    flex-direction: column;
    text-align: left;
}

    .product-description >:not(.product-sizes):not(.product-name) {
        margin-bottom: 14px;
    }

.product-name {
    font-size: 20px;
    color: var(--title-text-color);
}

.product-category {
    color: var(--second-text-color);
}

.product-colors {
    display: flex;
}

.color:not(:last-child)  {
    margin-right: 8px;
}

.btn-color {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

    .btn-color:hover {
        cursor: pointer;
    }

.btn-blue {
    background-color: #2091F9;
}

.btn-green {
    background-color: #2DC071;
}

.btn-orange {
    background-color: #E77C40;
}

.btn-black {
    background-color: #252B42;
}

.product-sizes {
    display: flex;
}

.btn-size:hover {
    cursor: pointer;
}

.size {
    margin-right: 10px;
}


/*LAST RPODUCT*/

.last-product {
    padding: 0 12px;
}

.last-product-description {
    display: flex;
    flex-direction: column;
    text-align: left;
}
    .last-product-description >:not(.last-product-name) {
        margin-bottom: 14px;
    }

.last-product-name {
    font-weight: bold;
    font-size: 16px;
}

.last-product-category {
    font-size: 16px;
    color: var(--second-text-color);
}


.last-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    text-align: center;
}







/*BLOG SECTION*/
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 40px;
}
.article {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

    .article > :not(.article-description) {
        margin-bottom: 22px;
    }

.article-img {
    width: 100%;
}
.article-description {
    padding: 5px 100px 25px 14px;
}

.date {
    text-transform: capitalize;
    color: #BDBDBD;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.article-title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 12px;
}
.article-overview {
    color:#858585;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}

.article-links {
    display: flex;
    justify-content: flex-start;
}

    .article-links li:not(:last-child) {
        margin-right: 16px;
    }

.article-link {
    color: #8EC2F2;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.5s ease;
}
    .article-link:hover {
        color:#5f809e;
    }

@media (max-width: 1024px) {

    /*PRODUCT SECTION*/
    .products-filter {
        padding: 22px 120px;
    }
    .align-section {
        padding: 52px var(--content-padding-desctop) ;
    }

    .last-product-description {
        padding: 0 8px;
    }
}

@media (max-width: 768px) {

    /*BLOG SECTION*/
    .align-section{
        padding: 15px;
    }

    .header-section {
        margin-bottom: 35px;
    }

    .article {
        padding: 15px;
    }

    .article-overview {
        margin-bottom: 18px;
    }

    .article-description {
        padding: 5px 58px 18px 14px;
    }

    /*PRODUCT SECTION*/
    .products-filter {
        padding: 16px 0;
    }

    .last-product-description {
        padding: 0 46px;
    }
}

@media (max-width: 416px) {

    /*BLOG SECTION*/
    .header-align {
        margin-bottom: 24px;
    }

    .article-overview {
        margin-bottom: 12px;
    }

    .article-description {
        padding: 5px 48px 14px 14px;
    }

    /*PRODUCT SECTION*/

    .btn-filter {
        padding: 2px;
        font-size: 14px;
    }
}
